/* -------------------Global css styleing----------------------*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}
/* ---------------------Navbar style start-------------------------- */
.header .nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  border-bottom: 1px solid wheat;
  z-index: 1;
}

.header .nav .logo {
  padding: 1rem;
  margin-top: 0.3rem;
  margin-left: 2rem;
}

.header .nav .logo a {
  color: #333;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Shizuru", cursive;
}

.header .nav .nav-item {
  /* background-color: blue; */
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.header .nav .nav-item a {
  color: rgb(106, 103, 103);
  font-size: 1.5rem;
}
.header .nav .nav-item .search-input {
  margin-left: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid wheat;
}
/* --------------------------main section styling css--------------------------------- */
.main .bg-img img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.main .bg-title {
  height: 300px;
  width: 500px;
  position: absolute;
  top: 30%;
  left: 20%;
}
.main .bg-title .frist-title {
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
}
.main .bg-title .sec-title {
  color: #333;
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
}
.main .bg-title .sec-title span {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
}
/* -------------------------future plan section styling start--------------------- */
.future-plan {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #fff;
  padding-top: 6rem;
}

.future-plan .plan-set .plan-item1 {
  height: 500px;
  width: 400px;
  padding-top: 6rem;
  line-height: 2rem;
  z-index: 1;
}
.future-plan .plan-set .plan-item1 .plan-title {
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 1rem;
}
.future-plan .plan-set .plan-item1 p {
  margin-bottom: 1rem;
}
.future-plan .plan-set .plan-item2 {
  border: 2px solid yellow;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-color: yellow;
  position: absolute;
}
.future-plan .plan-set .plan-item3 img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* ---------------------------------about us css styling------------------------------- */
.about-us {
  background-color: black;
  height: 100vh;
  width: 100%;
  padding-top: 4rem;
}
.about-us .title-ab {
  justify-content: center;
  text-align: center;
  color: #fff;
}
.about-us .title-ab .about-title {
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 1rem;
}
.about-us .title-ab .about-title-sec {
  font-size: 2rem;
  font-family: "Shizuru", cursive;
  font-weight: 600;
}
.about-us .about-list .about-item1,
.about-us .about-list .about-item3 {
  width: 300px;
  height: auto;
  color: #fff;
}
.about-us .about-list .about-item1 {
  margin-right: 2rem;
  text-align: right;
}
.about-us .about-list .about-item3 {
  margin-left: 2rem;
  text-align: left;
}
.about-us .about-list .about-item1 .about-item-d,
.about-us .about-list .about-item3 .about-item-d {
  padding-bottom: 2rem;
}
.about-us .about-list .about-item1 .about-item-d h3,
.about-us .about-list .about-item3 .about-item-d h3 {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
}
.about-us .about-list .about-item1 .about-item-d p,
.about-us .about-list .about-item3 .about-item-d p {
  line-height: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
}
.about-us .about-list .about-item2 .about-img img {
  margin-top: 1.8rem;
  width: 300px;
  height: 400px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* --------------------------free course section css styling----------------------------------- */
.free-course {
  height: 100vh;
  width: 100%;
  padding-top: 3rem;
  background-color: rgb(245, 71, 106);
}
.free-course .course-img {
  width: 500px;
  height: 500px;
  background-color: rgb(237, 237, 81);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.free-course .course-img img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.free-course .course-info .course-title .bold {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}
.free-course .course-info .course-title {
  font-size: 2.5rem;
  color: #fff;
  position: relative;
  margin-left: -4rem;
  font-family: "Nunito Sans", sans-serif;
}
.free-course .course-info .course-point {
  margin-top: 2rem;
  margin-left: 4rem;
  color: #fff;
}
.free-course .course-info .course-point ul li {
  font-size: 1.3rem;
}
/* ------------------high impact section css styling start----------------------------- */
.high-impact {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: #fff;
}
.high-impact .impact-item {
  padding-top: 7rem;
  display: flex;
}
.high-impact .impact-item .impact-para {
  width: 400px;
  left: 0%;
  top: 0%;
  margin-left: 5rem;
}
.high-impact .impact-item .impact-para p {
  font-size: 1.5rem;
  padding: 2rem;
  line-height: 1.5rem;
}
.high-impact .impact-item .impact-img .impact-title {
  border: 1px solid #fff;
  background-color: #fff;
  color: #333;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  z-index: 1;
  margin-left: -22rem;
  margin-top: 20%;
}
.high-impact .impact-item .impact-img .impact-title h1 {
  font-size: 3rem;
  color: rgb(160, 155, 155);
}
.high-impact .impact-item .impact-img .impact-title h1 span {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  color: #000;
}
.high-impact .impact-item .impact-img {
  background-color: yellow;
  padding-left: 4rem;
  padding-bottom: 4rem;
}
.high-impact .impact-item .impact-img img {
  width: 500px;
  height: 500px;
  margin-top: -4rem;
  margin-right: -2rem;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
